.env
/elevateded
/Quiz/__pycache__/
/videos
/test/Gradient descent for multiple linear regression.webm
/__pycache__/
/recommendation/__pycache__
sql_ops.log
/recommendation/__pycache__/

/elevate_ed_aiml/quiz/__pycache__/
/elevate_ed_aiml/recommendation/__pycache__/
/elevate_ed_aiml/elevate_ed_aiml/__pycache__/