Django==5.1.6
groq==0.18.0
numpy==2.2.3
openai_whisper==20240930
pandas==2.2.3
psycopg2==2.9.10
psycopg2_binary==2.9.10
python-dotenv==1.0.1
qdrant_client==1.13.2
Requests==2.32.3
scikit_learn==1.6.1
sentence_transformers==3.4.1
whisper==1.1.10
